$fontFamily: -apple-system, BlinkMacSystemFont, Verdana, Tahoma, sans-serif;
$lightBlue: #e6e9f0;
$darkPurple: #431c5d;
$white: #FFFFFF;
$red: #312c32;

$fontSizeMain: 16px;
$lineHeightMain: 1.4rem;
$fontColorMain: #431c5d;

$fontSizeLarge: 1.2rem;
$fontSizeMedium: 1.15rem;
$fontSizeSmall: .9rem;