{
    "ignore": [
        "*.scss"
    ],
    "presets": [
        "stage-3",
        "es2015",
        "react"
    ],
    "env": {
        "node": {
            "plugins": [[
                "babel-plugin-transform-require-ignore", { "extensions": [".scss", ".css"] }
            ]]
        }
    }
}