{
    "ignore": [
        "*.scss",
        "/node_modules/"
    ],
    "presets": [
        "latest",
        "react"
    ],
    "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "./src/config/webpack.config.babel.js" } ]
    ]
}