<!doctype html>
<html lang="en">
    <head>
        <title>MK</title>
    </head>
    <body>
        <h1></h1>

        <main>
            <%- reactOutput %>
        </main>
    <script src="/dist/bundle.js" async></script>
    </body>
</html>