<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="icon" href="/dist/logo.png"/>
        {{> embeds style=true }}
    </head>
    <body>
        <h1></h1>
        <main>
            {{{ reactOutput }}}
        </main>
        {{> embeds script=true }}
    </body>
</html>