<!doctype html>
<html lang="en">
    <head>
        <title>MK</title>
    </head>
    <body>
        <h1>Best areas to live in MK</h1>

        <main>
            <%- reactOutput %>
        </main>
    </body>
</html>